/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    background-color: rgb(49, 49, 49);
}

.left-window, .right-window {
    border: 1px solid;
    padding: 10px;
    position: relative;
    background-color: rgb(74, 68, 68);
}

.middle-section {
    border: 1px solid;
    padding: 10px;
    position: relative;
    background-color: gray;
}

.left-window, .right-window {
    width: 45%;
}


.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
}

textarea, #editor, .editor {
    margin-left: 35px; /* Adjust margin to leave space for line numbers */
    width: calc(100% - 70px); /* Adjust width to accommodate line numbers */
    resize: none; /* Prevent resizing */
    background-color: rgb(193, 193, 193);
    height: 90vh;
    font-size: 17px;
}


button {
    border-radius: 30px;
    margin-top: 10px;
    padding: 10px;
    background-color: #1b2836;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

select {
    border-radius: 25px;
    margin-top: 20px;
    padding: 5px;
    background-color: #1b2836;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
